@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

th,td {
    border: solid 1px;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

th {
    width: 150px;
    height: 40px;
    background-color: #cfe3fa;
}
